<% provide(:title, "Accueil") %>

<div class="center jumbotron">
  <h2>
    Vous n'êtes jamais d'accord avec vos amis sur les meilleures musiques d'animes sorties cette saison ? Votez pour vos musiques d'animes
	préférées et découvrez les plus populaires de la saison ! 
  </h2>
  <%= link_to "M'inscrire!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<style>
    .card-custom {
        max-width: 200px;
    }
</style>

<h1>Toutes les chansons de la saison</h1>
<div class="container">
   <div class="row mt-5">
  <% @songs.each do |song| %>
    <div class="card card-custom mx-2 mb-3" >
		<%= link_to song do %>
		<%= image_tag song.photo.url, size: "200x200", class: "card-img-top" %>
		<% end %>
		<div class="card-body">
			<h4 class="card-title"><%= song.name %></h4>
			<p class="card-text"><%= song.anime %></p>
		</div>
	</div>
        
  <% end %>

</div>
</div>